---
http_interactions:
- request:
    method: get
    uri: http://licenses.opendefinition.org/licenses/odc-by.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      last-modified:
      - Thu, 14 Mar 2013 21:52:27 GMT
    body:
      encoding: UTF-8
      string: "{\n  \"domain_content\": false, \n  \"domain_data\": true, \n  \"domain_software\":
        false, \n  \"family\": \"\", \n  \"id\": \"odc-by\", \n  \"is_okd_compliant\":
        true, \n  \"is_osi_compliant\": false, \n  \"maintainer\": \"\", \n  \"status\":
        \"active\", \n  \"title\": \"Open Data Commons Attribution License\", \n  \"url\":
        \"http://www.opendefinition.org/licenses/odc-by\"\n}"
  recorded_at: Tue, 06 Aug 2013 10:29:31 GMT
- request:
    method: get
    uri: http://licenses.opendefinition.org/licenses/ODC-BY-1.0.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      last-modified:
      - Tue, 12 Aug 2014 16:24:33 GMT
    body:
      encoding: UTF-8
      string: "{\n  \"domain_content\": false, \n  \"domain_data\": true, \n  \"domain_software\":
        false, \n  \"family\": \"\", \n  \"id\": \"ODC-BY-1.0\", \n  \"od_conformance\":
        \"approved\", \n  \"osd_conformance\": \"not reviewed\", \n  \"maintainer\":
        \"Open Data Commons\", \n  \"status\": \"active\", \n  \"title\": \"Open Data
        Commons Attribution License 1.0\", \n  \"url\": \"http://www.opendefinition.org/licenses/odc-by\"\n}\n"
  recorded_at: Tue, 07 Oct 2014 15:12:02 GMT
recorded_with: VCR 2.8.0
