---
http_interactions:
- request:
    method: get
    uri: http://licenses.opendefinition.org/licenses/odc-by.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      last-modified:
      - Thu, 14 Mar 2013 21:52:27 GMT
    body:
      encoding: UTF-8
      string: "{\n  \"domain_content\": false, \n  \"domain_data\": true, \n  \"domain_software\":
        false, \n  \"family\": \"\", \n  \"id\": \"odc-by\", \n  \"is_okd_compliant\":
        true, \n  \"is_osi_compliant\": false, \n  \"maintainer\": \"\", \n  \"status\":
        \"active\", \n  \"title\": \"Open Data Commons Attribution License\", \n  \"url\":
        \"http://www.opendefinition.org/licenses/odc-by\"\n}"
  recorded_at: Tue, 06 Aug 2013 10:29:31 GMT
recorded_with: VCR 2.5.0
